In [1]:
using DelimitedFiles, Pkg, Dates

In [2]:
wikiEVDraw = readdlm("wikipediaEVDraw.csv", ',')

54×9 Array{Any,2}:
 "25 Nov 2015"  28637  11314  3804  2536  …  4808     14122     3955
 "18 Nov 2015"  28634  11314  3804  2536     4808     14122     3955
 "11 Nov 2015"  28635  11314  3805  2536     4808     14122     3955
 "4 Nov 2015"   28607  11314  3810  2536     4808     14089     3955
 "25 Oct 2015"  28539  11298  3806  2535     4808     14061     3955
 "18 Oct 2015"  28476  11298  3803  2535  …  4808     14001     3955
 "11 Oct 2015"  28454  11297  3800  2534     4808     13982     3955
 "27 Sep 2015"  28388  11296  3805  2533     4808     13911     3955
 "20 Sep 2015"  28295  11295  3800  2532     4808     13823     3955
 "13 Sep 2015"  28220  11291  3792  2530     4808     13756     3953
 "6 Sep 2015"   28147  11291  3792  2530  …  4808     13683     3953
 "30 Aug 2015"  28073  11290  3792  2529     4808     13609     3953
 "16 Aug 2015"  27952  11284  3786  2524     4808     13494     3952
 ⋮                                        ⋱
 "9 Aug 2014"    1835   1011   506   373      323       730      315
 "30 Jul 2014"   1437    825   472   346      227       574      252
 "23 Jul 2014"   1201    672   427   319      129       525      224
 "14 Jul 2014"    982    613   411   310  …   106       397      197
 "2 Jul 2014"     779    481   412   305       75       252      101
 "17 Jun 2014"    528    337   398   264       24        97       49
 "27 May 2014"    309    202   281   186       11        16        5
 "12 May 2014"    260    182   248   171       11          "–"      "–"
 "1 May 2014"     239    160   226   149  …    11          "-"      "-"
 "14 Apr 2014"    176    110   168   108        2          "–"      "–"
 "31 Mar 2014"    130     82   122    80        2          "–"      "–"
 "22 Mar 2014"     49     29    49    29         "–"       "–"      "–"

In [3]:
Dates.DateTime(wikiEVDraw[1,1],"d u y")

2015-11-25T00:00:00

In [4]:
col1 = wikiEVDraw[:, 1]  # the colon means all the data in the column, the 1 means the first column

54-element Array{Any,1}:
 "25 Nov 2015"
 "18 Nov 2015"
 "11 Nov 2015"
 "4 Nov 2015"
 "25 Oct 2015"
 "18 Oct 2015"
 "11 Oct 2015"
 "27 Sep 2015"
 "20 Sep 2015"
 "13 Sep 2015"
 "6 Sep 2015"
 "30 Aug 2015"
 "16 Aug 2015"
 ⋮
 "9 Aug 2014"
 "30 Jul 2014"
 "23 Jul 2014"
 "14 Jul 2014"
 "2 Jul 2014"
 "17 Jun 2014"
 "27 May 2014"
 "12 May 2014"
 "1 May 2014"
 "14 Apr 2014"
 "31 Mar 2014"
 "22 Mar 2014"

In [5]:
for i = 1:54
    col1[i] = DateTime(col1[i], "d u y")  # note that this replaces the previous value in col1[i]
end

In [6]:
col1

54-element Array{Any,1}:
 2015-11-25T00:00:00
 2015-11-18T00:00:00
 2015-11-11T00:00:00
 2015-11-04T00:00:00
 2015-10-25T00:00:00
 2015-10-18T00:00:00
 2015-10-11T00:00:00
 2015-09-27T00:00:00
 2015-09-20T00:00:00
 2015-09-13T00:00:00
 2015-09-06T00:00:00
 2015-08-30T00:00:00
 2015-08-16T00:00:00
 ⋮
 2014-08-09T00:00:00
 2014-07-30T00:00:00
 2014-07-23T00:00:00
 2014-07-14T00:00:00
 2014-07-02T00:00:00
 2014-06-17T00:00:00
 2014-05-27T00:00:00
 2014-05-12T00:00:00
 2014-05-01T00:00:00
 2014-04-14T00:00:00
 2014-03-31T00:00:00
 2014-03-22T00:00:00

In [7]:
Dates.datetime2rata(col1[1])

735927

In [8]:
dayssincemar22(x) = Dates.datetime2rata(x) - Dates.datetime2rata(col1[54])
epidays = Array{Int64}(undef, 54)
for i = 1:54
    epidays[i] = dayssincemar22(col1[i])
end

In [9]:
wikiEVDraw[:, 1] = epidays
writedlm("wikipediaEVDdatesconverted.csv", wikiEVDraw, ',')  
#         note the delimiter ... the Julia default is a tab; to get .csv, we must specify the comma

In [10]:
mylist = [3, 2, 1]
count=1
for i in mylist
  mylist[i]=count
  count=count+1
end

In [11]:
mylist[3]

1

In [12]:
count=0
for i=1:3
  for j=1:3
    count=count+1
  end
end

In [13]:
count

9

In [14]:
data = [[3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [3,2,1] [6,5,4]]

3×9 Array{Int64,2}:
 3  3  3  3  3  3  3  3  6
 2  2  2  2  2  2  2  2  5
 1  1  1  1  1  1  1  1  4

In [15]:
data[3,:]

9-element Array{Int64,1}:
 1
 1
 1
 1
 1
 1
 1
 1
 4

In [16]:
data[3]

1

In [17]:
summedvals = 3
for k = 1:2:5  
  summedvals = summedvals + k
end
summedvals

12