# Week 4 PR Assignment

Week 4 Peer Review - Working with Distributions and DataFrames.

In [1]:
# Import the required packages
using Distributions, DataFrames, Random

In [2]:
# Seed the random number generator
Random.seed!(1234);

In [3]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = Array{Any}(undef, 30, 4)
array_1[:,1] .= 1:30
array_1[:,2] .= randn(30)
array_1[:,3] .= rand(Normal(10,2), 30)
array_1[:,4] .= [rand(5:15) for _ in 1:30]
array_1

30×4 Array{Any,2}:
  1   0.867347    7.44066  14
  2  -0.901744   11.9946   13
  3  -0.494479   10.6048   12
  4  -0.902914    9.92711   9
  5   0.864401   10.2839   15
  6   2.21188    11.0425   14
  7   0.532813   11.7935   15
  8  -0.271735    8.97294   9
  9   0.502334    8.4704    9
 10  -0.516984    6.91715   8
 11  -0.560501    9.83968  15
 12  -0.0192918   7.81756  14
 13   0.128064    8.83897  11
  ⋮
 19   0.0721164   7.98043  12
 20  -1.50343     8.91239  13
 21   1.56417     7.54655  14
 22  -1.39674     8.91657   5
 23   1.1055      8.62701   8
 24  -1.10673     8.57414   9
 25  -3.21136     9.34588   5
 26  -0.0740145  11.0297    9
 27   0.150976   14.8349   10
 28   0.769278    9.38405  14
 29  -0.310153   12.4906   15
 30  -0.602707    9.9001    7

In [4]:
# Question 5: Mean and variance of column 1
mean(array_1[:, 2]), var(array_1[:, 1])

(-0.061674963752526124, 77.5)

In [5]:
# Question 5 (continued): Mean and variance of column 2
mean(array_1[:, 3]), var(array_1[:, 2])

(9.580613055613338, 1.1790054448274625)

In [6]:
# Question 5 (continued): Mean and variance of column 3
mean(array_1[:, 4]), var(array_1[:, 3])

(11.0, 2.9487900775367386)

In [7]:
# Question 6: Import array_1 into a DataFrame named df
df = convert(DataFrame, array_1)

30×4 DataFrame
│ Row │ x1  │ x2         │ x3      │ x4  │
│     │ Any │ Any        │ Any     │ Any │
├─────┼─────┼────────────┼─────────┼─────┤
│ 1   │ 1   │ 0.867347   │ 7.44066 │ 14  │
│ 2   │ 2   │ -0.901744  │ 11.9946 │ 13  │
│ 3   │ 3   │ -0.494479  │ 10.6048 │ 12  │
│ 4   │ 4   │ -0.902914  │ 9.92711 │ 9   │
│ 5   │ 5   │ 0.864401   │ 10.2839 │ 15  │
│ 6   │ 6   │ 2.21188    │ 11.0425 │ 14  │
│ 7   │ 7   │ 0.532813   │ 11.7935 │ 15  │
│ 8   │ 8   │ -0.271735  │ 8.97294 │ 9   │
│ 9   │ 9   │ 0.502334   │ 8.4704  │ 9   │
│ 10  │ 10  │ -0.516984  │ 6.91715 │ 8   │
⋮
│ 20  │ 20  │ -1.50343   │ 8.91239 │ 13  │
│ 21  │ 21  │ 1.56417    │ 7.54655 │ 14  │
│ 22  │ 22  │ -1.39674   │ 8.91657 │ 5   │
│ 23  │ 23  │ 1.1055     │ 8.62701 │ 8   │
│ 24  │ 24  │ -1.10673   │ 8.57414 │ 9   │
│ 25  │ 25  │ -3.21136   │ 9.34588 │ 5   │
│ 26  │ 26  │ -0.0740145 │ 11.0297 │ 9   │
│ 27  │ 27  │ 0.150976   │ 14.8349 │ 10  │
│ 28  │ 28  │ 0.769278   │ 9.38405 │ 14  │
│ 29  │ 29  │ -0.310153  │ 12.4906 │ 15  │
│ 30  │ 30  │ -0.602707  │ 9.9001  │ 7   │

In [8]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df, ["id", "Var1", "Var2", "Var3"])

30×4 DataFrame
│ Row │ id  │ Var1       │ Var2    │ Var3 │
│     │ Any │ Any        │ Any     │ Any  │
├─────┼─────┼────────────┼─────────┼──────┤
│ 1   │ 1   │ 0.867347   │ 7.44066 │ 14   │
│ 2   │ 2   │ -0.901744  │ 11.9946 │ 13   │
│ 3   │ 3   │ -0.494479  │ 10.6048 │ 12   │
│ 4   │ 4   │ -0.902914  │ 9.92711 │ 9    │
│ 5   │ 5   │ 0.864401   │ 10.2839 │ 15   │
│ 6   │ 6   │ 2.21188    │ 11.0425 │ 14   │
│ 7   │ 7   │ 0.532813   │ 11.7935 │ 15   │
│ 8   │ 8   │ -0.271735  │ 8.97294 │ 9    │
│ 9   │ 9   │ 0.502334   │ 8.4704  │ 9    │
│ 10  │ 10  │ -0.516984  │ 6.91715 │ 8    │
⋮
│ 20  │ 20  │ -1.50343   │ 8.91239 │ 13   │
│ 21  │ 21  │ 1.56417    │ 7.54655 │ 14   │
│ 22  │ 22  │ -1.39674   │ 8.91657 │ 5    │
│ 23  │ 23  │ 1.1055     │ 8.62701 │ 8    │
│ 24  │ 24  │ -1.10673   │ 8.57414 │ 9    │
│ 25  │ 25  │ -3.21136   │ 9.34588 │ 5    │
│ 26  │ 26  │ -0.0740145 │ 11.0297 │ 9    │
│ 27  │ 27  │ 0.150976   │ 14.8349 │ 10   │
│ 28  │ 28  │ 0.769278   │ 9.38405 │ 14   │
│ 29  │ 29  │ -0.310153  │ 12.4906 │ 15   │
│ 30  │ 30  │ -0.602707  │ 9.9001  │ 7    │

In [9]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = last(df, 20)

20×4 DataFrame
│ Row │ id  │ Var1       │ Var2    │ Var3 │
│     │ Any │ Any        │ Any     │ Any  │
├─────┼─────┼────────────┼─────────┼──────┤
│ 1   │ 11  │ -0.560501  │ 9.83968 │ 15   │
│ 2   │ 12  │ -0.0192918 │ 7.81756 │ 14   │
│ 3   │ 13  │ 0.128064   │ 8.83897 │ 11   │
│ 4   │ 14  │ 1.85278    │ 9.36913 │ 10   │
│ 5   │ 15  │ -0.827763  │ 7.2771  │ 15   │
│ 6   │ 16  │ 0.110096   │ 9.77109 │ 15   │
│ 7   │ 17  │ -0.251176  │ 10.3317 │ 6    │
│ 8   │ 18  │ 0.369714   │ 9.18312 │ 5    │
│ 9   │ 19  │ 0.0721164  │ 7.98043 │ 12   │
│ 10  │ 20  │ -1.50343   │ 8.91239 │ 13   │
│ 11  │ 21  │ 1.56417    │ 7.54655 │ 14   │
│ 12  │ 22  │ -1.39674   │ 8.91657 │ 5    │
│ 13  │ 23  │ 1.1055     │ 8.62701 │ 8    │
│ 14  │ 24  │ -1.10673   │ 8.57414 │ 9    │
│ 15  │ 25  │ -3.21136   │ 9.34588 │ 5    │
│ 16  │ 26  │ -0.0740145 │ 11.0297 │ 9    │
│ 17  │ 27  │ 0.150976   │ 14.8349 │ 10   │
│ 18  │ 28  │ 0.769278   │ 9.38405 │ 14   │
│ 19  │ 29  │ -0.310153  │ 12.4906 │ 15   │
│ 20  │ 30  │ -0.602707  │ 9.9001  │ 7    │

In [10]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
│     │ Symbol   │ Float64   │ Real     │ Float64    │ Real    │ Int64   │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ id       │ 20.5      │ 11       │ 20.5       │ 30      │ 20      │
│ 2   │ Var1     │ -0.187058 │ -3.21136 │ -0.0466532 │ 1.85278 │ 20      │
│ 3   │ Var2     │ 9.49853   │ 7.2771   │ 9.2645     │ 14.8349 │ 20      │
│ 4   │ Var3     │ 10.6      │ 5        │ 10.5       │ 15      │ 11      │

In [11]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat1] = [rand(["GroupA", "GroupB"]) for _ in 1:length(df2.Var1)]

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[11]:1
└ @ Core In[11]:1

20-element Array{String,1}:
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"

In [12]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(:id => 11:30, :var4 => 21:40, :var5 => 41:60)

20×3 DataFrame
│ Row │ id    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │
│ 6   │ 16    │ 26    │ 46    │
│ 7   │ 17    │ 27    │ 47    │
│ 8   │ 18    │ 28    │ 48    │
│ 9   │ 19    │ 29    │ 49    │
│ 10  │ 20    │ 30    │ 50    │
│ 11  │ 21    │ 31    │ 51    │
│ 12  │ 22    │ 32    │ 52    │
│ 13  │ 23    │ 33    │ 53    │
│ 14  │ 24    │ 34    │ 54    │
│ 15  │ 25    │ 35    │ 55    │
│ 16  │ 26    │ 36    │ 56    │
│ 17  │ 27    │ 37    │ 57    │
│ 18  │ 28    │ 38    │ 58    │
│ 19  │ 29    │ 39    │ 59    │
│ 20  │ 30    │ 40    │ 60    │

In [13]:
# Question 12: do a join of DataFrames df2 and df3 on the id column and save the result as a new dataframe called df4.
df4 = join(df2, df3, on = :id)

20×7 DataFrame
│ Row │ id  │ Var1       │ Var2    │ Var3 │ Cat1   │ var4  │ var5  │
│     │ Any │ Any        │ Any     │ Any  │ String │ Int64 │ Int64 │
├─────┼─────┼────────────┼─────────┼──────┼────────┼───────┼───────┤
│ 1   │ 11  │ -0.560501  │ 9.83968 │ 15   │ GroupA │ 21    │ 41    │
│ 2   │ 12  │ -0.0192918 │ 7.81756 │ 14   │ GroupB │ 22    │ 42    │
│ 3   │ 13  │ 0.128064   │ 8.83897 │ 11   │ GroupB │ 23    │ 43    │
│ 4   │ 14  │ 1.85278    │ 9.36913 │ 10   │ GroupB │ 24    │ 44    │
│ 5   │ 15  │ -0.827763  │ 7.2771  │ 15   │ GroupB │ 25    │ 45    │
│ 6   │ 16  │ 0.110096   │ 9.77109 │ 15   │ GroupA │ 26    │ 46    │
│ 7   │ 17  │ -0.251176  │ 10.3317 │ 6    │ GroupB │ 27    │ 47    │
│ 8   │ 18  │ 0.369714   │ 9.18312 │ 5    │ GroupA │ 28    │ 48    │
│ 9   │ 19  │ 0.0721164  │ 7.98043 │ 12   │ GroupB │ 29    │ 49    │
│ 10  │ 20  │ -1.50343   │ 8.91239 │ 13   │ GroupA │ 30    │ 50    │
│ 11  │ 21  │ 1.56417    │ 7.54655 │ 14   │ GroupB │ 31    │ 51    │
│ 12  │ 22  │ -1.39674   │ 8.91657 │ 5    │ GroupB │ 32    │ 52    │
│ 13  │ 23  │ 1.1055     │ 8.62701 │ 8    │ GroupA │ 33    │ 53    │
│ 14  │ 24  │ -1.10673   │ 8.57414 │ 9    │ GroupA │ 34    │ 54    │
│ 15  │ 25  │ -3.21136   │ 9.34588 │ 5    │ GroupA │ 35    │ 55    │
│ 16  │ 26  │ -0.0740145 │ 11.0297 │ 9    │ GroupA │ 36    │ 56    │
│ 17  │ 27  │ 0.150976   │ 14.8349 │ 10   │ GroupA │ 37    │ 57    │
│ 18  │ 28  │ 0.769278   │ 9.38405 │ 14   │ GroupA │ 38    │ 58    │
│ 19  │ 29  │ -0.310153  │ 12.4906 │ 15   │ GroupA │ 39    │ 59    │
│ 20  │ 30  │ -0.602707  │ 9.9001  │ 7    │ GroupA │ 40    │ 60    │